{% extends "html/base.html" %}
{% block slogan %}{% endblock slogan %}
{% block content %}
    <section class="login-page">
      <h2>Załóż konto</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.first_name }}
        </div>
         <div class="form-group">
          {{ form.last_name }}
        </div>
        <div class="form-group">
          {{ form.email.errors}}
          {{ form.email }}
        </div>
        <div class="form-group">
          {{ form.non_field_errors }}
          {{ form.password }}
        </div>
        <div class="form-group">
          {{ form.repeated_password }}
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url "login" %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>
{% endblock content %}