{% extends "base.html" %}
{% block title %}
    <title>Profile view</title>
{% endblock title %}
{% block header %}
    <header>
      <nav class="container container--70">
        <ul class="nav--actions">
          <li class="logged-user">
            Witaj {{user.first_name}}
            <ul class="dropdown">
              <li><a href="{% url "profile" %}">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>
              {% if user.is_superuser %}
              <li><a href="/admin/">Panel administracyjny</a></li>
              {% endif %}
              <li><a href="{% url "logout" %}">Wyloguj</a></li>
            </ul>
          </li>
        </ul>

      <ul>
          <li><a href="{% url "main" %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url "main" %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url "main" %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url "main" %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url "donation" %}" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
      </ul>
    </nav>
    </header>
{% endblock header %}
{% block content %}
    <section id="help" class="help">
      <h2>Moje konto</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Moje dane</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Moje darowizny</a></li>
      </ul>

      <!-- SLIDE 1 -->
      <div class="help--slides active" data-id="1">
        <p>Imię: {{ user.first_name }}</p>
        <p>Nazwisko: {{ user.last_name }}</p>
        <p>Adres email: {{ user.email}}</p>
      </div>

      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <ul class="help--slides-items">
          {% for donation in donations %}
          <li>
            <div class="col">
              <div class="title">Wsparłaś/eś "{{ donation.institution }}"</div>
              <div class="text">Przyczyniłaś/eś się do realizacji celu jakim jest {{ donation.institution.description }}</div>
            </div>

            <div class="col">
              <div class="text">Termin przekazania: {{ donation.pick_up_date|date:"d-m-Y" }}, godzina: {{ donation.pick_up_time }}</div>
              <div class="text">Liczba przekazanych worków: {{ donation.quantity }}</div>
            </div>
          </li>
          {% endfor %}
          <li>
        </ul>
      </div>
    </section>
{% endblock content %}